
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="alert alert-danger" role="alert">
    Öğrenci kredisi 50'den düşük olduğu için mezun olamaz.
</div>
